*{
    font-family: verdana;
    font-size: 10px;
    margin: 0;
}

body{
    background: #eee;
}


.wrapper {
    width: 100%;
    max-width:960px;
}


nav {
    background: #333;
    
}

nav ul {
    list-style-type: none;
    padding:0;
    text-align: center;
}

nav a {
    color:#fff;
    display: block;
    padding:10px;
    text-decoration: none;
 }

nav a:hover {
    background:#777;
}


/*social menu base style*/

a.tw {
    background: url(imgs/tw.png) no-repeat center;
    background-size: 80%;
}

a.fb {
    background: url(imgs/fb.png) no-repeat center;
    background-size: 80%;
}

.social a {
    text-indent:-10000px;
}

.social {
    max-width:80px;
    margin: 0 auto;
}

/*flex styles*/

nav ul.social {
    display:flex;
}

nav ul.social li {
    flex: 1 1 0px;
}

/*flex vs grid style*/
#blocks {
    margin: 20px;
}


article {
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing:border-box;
    
}

article h2 {
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
}



@media screen and (min-width:768px){
    
    nav ul {
        display: flex;
        justify-content: center
    }
    nav li {
        flex: 1 1 100px;
    }
    
    nav {
        display:flex;
        justify-content: space-between;
    }
    
    .social {
        margin: 0px;
    }
    
    #blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
   article {
       flex: 0 1 32%;
       transition: flex-basis 0.2s linear;
    }
    
    article.stack {
        flex: 0 0 100%;
    }
    
}


